{% extends 'base.html.twig' %}

{% form_theme lieuForm 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}Ajouter un lieu{% endblock %}

{% block body %}

    <h3>Ajouter un lieu</h3>
    <div>
        {{ form_start(lieuForm) }}
        {{ form_widget(lieuForm) }}
        <button type="submit" class="btn btn-secondary">Valider</button>
        <a href="{{ path('nouvelleVille') }}" class="btn btn-secondary">Ajouter une ville</a>
        {{ form_end(lieuForm) }}
    </div>

{% endblock %}
