{% extends 'base.html.twig' %}

{% block title %}Ajouter des participants{% endblock %}

{% block body %}

    <h3>Ajouter des participants</h3>
    <form method="GET" action="{{ path('chercheParticipant', {id: groupe.id}) }}">
        <div>
            <label for="exampleFormControlSelect1">Cherchez votre participant :</label>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search" value=""
                   aria-label="Search">
        </div>
        <div>
            <button class="btn btn-secondary" type="submit" class="btn btn-outline-dark">Rechercher</button>
        </div>
    </form>
    <div>
        <a class="btn btn-secondary" href="{{ path('detailGroupe', {'id': groupe.id}) }}">Retour au groupe</a>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Pseudo</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr>
                <td>{{ participant.pseudo }}</td>
                <td>
                    <a href="#" class="btn btn-secondary"
                       onclick=" $.ajax('{{ path('inscriptionGroupe', {idUser: participant.id, idGroupe: groupe.id}) }}').done(function(){location.reload()}); ">Ajouter
                        au groupe</a>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(".delete").click(function () {
            if (confirm("Etes vous sur de vouloir supprimer ce groupe ?")) {
                $.ajax({
                    url: "/deleteZone/" + $(this).val(),
                })
                    .done(function () {
                        alert("Votre zone a bien été effacée !");
                        location.reload()
                    })
            }
        });
    </script>

{% endblock %}
