{% extends 'base.html.twig' %}

{% block body %}
    <h1>Details</h1>
    <div class="card text-center">
       Nom : {{ groupe.nom }}
        <button type="submit"><a href="{{ path('ajouterParticipant') }}">Ajouter des participants</a></button>
    </div>
{% endblock %}