{% extends 'base.html.twig' %}


{% block body %}

    <div>

        <h3>Ajouter un participant par fichier CSV:</h3>

        <div style="width: 500px">
            {{ form_start(form) }}
            {{ form_row(form.fichierCsv) }}

            <button class="btn btn-secondary" type="submit" name="enregistrer">Enregistrer</button>

            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}