.menuGauche{
    width: 45%;
    display: inline-block;
}
.menuDroite{
    width: 35%;
    display: inline-block;
    margin-left: 10%;
}

.table{
    margin-top: 5%;
}

body {
    font-family: 'Inconsolata', monospace !important;
    background: url("../images/fond.jpg");
    padding-left: 0% !important;
    padding-right: 0% !important;
}


/********* MEDIA QUERIES ******/
@media screen and (max-width: 1000px){
    .display-tbl{
        display:none !important;
    }
}