{% extends 'base.html.twig' %}

{% form_theme villeForm 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}Ajouter une ville{% endblock %}

{% block body %}

    <h3>Ajouter une ville</h3>
    <div>
        {{ form_start(villeForm) }}
        {{ form_widget(villeForm) }}
        <button type="submit">Valider</button>
        {{ form_end(villeForm) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var ville = document.getElementById("nom");

        ajaxGet("https://geo.api.gouv.fr/communes?nom=Nantes&fields=departement&boost=population&limit=5", function (response) {
           var ville = JSON.parse(response);
        });
    </script>
{% endblock %}
